{% extends "azure/layout.html" %}
{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-sm-12">
          <div class="home-tab">
            <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                <div id="home-tab" aria-selected="true">
                  <b>Azure Subdomain Enumeration</b>
                </div>
              <div>
                <div class="btn-wrapper">
                  <a href="{{url_for('subdomainEnumDownload')}}" class="btn btn-outline-dark"><i class="icon-download"></i>Results</a>
                  <a href="{{url_for('deleteLogs', name='subdomainenum')}}" class="btn btn-danger  text-white me-0"><i class="icon-download"></i>Delete Logs</a>
                  {% if subdomainStatus == "False" or subdomainStatus == None %}
                  <a href="{{url_for('subdomainEnumerationAction', action='start')}}" class="btn btn-primary text-white me-0"><i class="menu-icon mdi mdi-domain"></i> Enumerate</a>
                  {% else %}
                  <a href="{{url_for('subdomainEnumerationAction', action='stop')}}" class="btn btn-danger text-white me-0"><i class="menu-icon mdi mdi-stop"></i> Stop Enumerate</a>
                  {% endif %} 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 grid-margin stretch-card pt-3">

      </div>
      <div class="col-6 grid-margin stretch-card">
      </div>

      </div>
      <div class="row">
        <div class="col-lg-4 d-flex flex-column">
          <div class="row flex-grow">
            <div class=" grid-margin stretch-card">
              <div class="card card-rounded">
                <div class="card-body">
                    <h4 class="card-title">
                        Wordlist
                    </h4>
                    <form method="POST" enctype="multipart/form-data" action="{{url_for('subdomainEnumeration')}}">
                        {{ form.hidden_tag() }}
                        
                        {{ form.dnsList.label(class="form-control-label") }}
                        <div class="form-group">
                            {% if form.dnsList.errors %}
                                {{ form.dnsList(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.dnsList.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <textarea class="form-control mb-2 mr-sm-2" id="dnsList" name="dnsList" style="height:300px">{% for word in wordlist %}{{word.subdomainWordlist + "\r\n"}}{% endfor %}</textarea>
                            {% endif %}
                        </div>
                        {{ form.submit(class="btn btn-primary me-2") }}
                        <a href="{{url_for('subdomainEnumeration')}}" class="btn btn-danger">Cancel</a>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 d-flex flex-column">
          <div class="row flex-grow">
                <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                    <div class="card  bg-dark">
                      <div class="card-body" style="overflow: scroll;position: relative;">
                        <h3 class="card-title text-success">Subdomain Enumeration Logs</h3>
                        <div id="display_log" class="text-warning " style="position: absolute;">

                        </div> 
                      </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="d-sm-flex align-items-center justify-content-between">
                  
                  <h4>Results</h4>
                  
                <div class="btn-wrapper">
                    <a href="{{url_for('deleteResults', type='subdomainEnum')}}" class="btn btn-danger text-white me-0"><i class="menu-icon mdi mdi-delete"></i>Delete Results</a>
                  </div>
              </div>
                <div class="table-responsive pt-3", style="max-height: 400px;">
                  <table class="table table-dark">
                    <thead>
                      <tr>
                        <th>
                          Valid Subdomins
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for domain in domains %}
                      <tr>
                        <td>
                          <a href="https://{{domain.validSubdomain}}" class="nav-link text-info" target=_blank>{{domain.validSubdomain}}</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/socket.io.min.js') }}"></script>

  <script type="text/javascript" charset="utf-8">
      var socket;
      $(document).ready(function(){
          socket = io.connect('http://' + document.domain + ':' + location.port + '/logs');
          socket.on('connect', function() {
              socket.emit('joined', {});
          });
          socket.on('message', function(data) {
              $("#display_log").html("<pre>"+data.msg+"</pre>");
          });
          socket.emit('logging', {'type': 'subdomainlogs'});
      });

  </script>

{% endblock %}

