flask
sqlalchemy==1.4.39
flask_sqlalchemy==2.5.1
adal
hurry.filesize
flask_wtf
email_validator
psutil
flask_login
bcrypt
xlsxwriter
pygtail
msal
uuid
pandas
flask_bcrypt
crayons
psycopg2-binary 
WTForms==2.3.3
boto3
werkzeug==2.0.3
python-engineio==3.11.2
python-socketio==4.4.0
Flask==2.1.0
Flask-SocketIO==4.2.1
jinja2==3.0.1
