flask
flask_sqlalchemy
adal
hurry.filesize
flask_wtf
email_validator
psutil
flask_login
bcrypt
xlsxwriter
pygtail
msal
uuid
pandas
flask_bcrypt
crayons
psycopg2-binary 
WTForms==2.3.3
boto3
werkzeug==2.0.3
python-engineio==4.0.0
python-socketio==5.0.4
Flask==1.1.2
Flask-Session==0.3.2
Flask-SocketIO==5.0.1