{% extends "azure/layout.html" %}
{% block body %}
<div class="main-panel">          
    <div class="content-wrapper">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="container text-center">
                <h4 class="mb-3">Start up your Bussiness today</h4>
                <p class="w-75 mx-auto">Choose a plan that suits you the best. If you are not fully satisfied, we offer 30-day money-back guarantee no questions asked!!</p>
                <div class="row pricing-table">
                  <div class="col-md-4 col-xl-4 grid-margin stretch-card pricing-card">
                    <div class="card border-warning border pricing-card-body">
                      <div class="text-center pricing-card-head">
                        <h3 class="text-warning">Free</h3>
                        <p>Basic Plan</p>
                        <h1 class="fw-normal mb-4">$00.00</h1>
                      </div>
                      <ul class="list-unstyled plan-features">
                        <li>Azure Cloud</li>
                        <li>1000 APIs per Month</li>
                      </ul>
                      <div class="wrapper">
                        <a href="#" class="btn btn-outline-warning btn-block">Download</a>
                      </div>
                      <p class="mt-3 mb-0 plan-cost text-warning">Free</p>
                    </div>
                  </div>
                  <div class="col-md-4 col-xl-4 grid-margin stretch-card pricing-card">
                    <div class="card border border-success pricing-card-body">
                      <div class="text-center pricing-card-head">
                        <h3 class="text-success">Monthly</h3>
                        <p>For Business</p>
                        <h1 class="fw-normal mb-4">$10</h1>
                      </div>
                      <ul class="list-unstyled plan-features">
                        <li>Azure/AWS/GCP Cloud</li>
                        <li>50000 APIs per Month</li>
                        <li>All Features</li>
                        <li>3 user accounts</li>
                      </ul>
                      <div class="wrapper">
                        <a href="#" class="btn btn-outline-success btn-block">Start trial</a>
                      </div>
                      <p class="mt-3 mb-0 plan-cost text-success">or purchase now</p>
                    </div>
                  </div>
                  <div class="col-md-4 col-xl-4 grid-margin stretch-card pricing-card">
                    <div class="card border border-primary pricing-card-body">
                      <div class="text-center pricing-card-head">
                        <h3 class="text-primary">Yearly</h3>
                        <p>Custom Business</p>
                        <h1 class="fw-normal mb-4">$100</h1>
                      </div>
                      <ul class="list-unstyled plan-features">
                        <li>Azure/AWS/GCP Cloud</li>
                        <li>50000 APIs per Month</li>
                        <li>All Features</li>
                        <li>6 user accounts</li>
                        <li>Free support for 1 years</li>
                        <li>Free upgrades</li>
                      </ul>
                      <div class="wrapper">
                        <a href="#" class="btn btn-outline-primary btn-block">Start trial</a>
                      </div>
                      <p class="mt-3 mb-0 plan-cost text-primary">or purchase now</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}