{% extends "azure/layout.html" %}
{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-sm-12">
          <div class="home-tab">
            <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                <div id="home-tab" aria-selected="true">
                  <img src="{{ url_for('static',filename='images/azure/logo/bruteforce.png') }}" width="40px">
                  <b>Bruteforcing On Azure Ad Users</b>
                </div>
              <div>
                <div class="btn-wrapper">
                  <a href="{{url_for('bruteforceDownload', type='config')}}" class="btn btn-outline-dark"><i class="icon-download"></i>Configuration</a>
                  <a href="{{url_for('bruteforceDownload', type='results')}}" class="btn btn-outline-dark"><i class="icon-download"></i>Results</a>
                  <a href="{{url_for('deleteLogs', name='bruteforce')}}" class="btn btn-danger  text-white me-0"><i class="icon-download"></i>Delete Logs</a>
                  {% if bruteforceStatus == "False" or bruteforceStatus == None %}
                  <a href="{{url_for('bruteforceStart', action='start')}}" class="btn btn-primary text-white me-0"><i class="menu-icon mdi mdi-run-fast"></i> Attack</a>
                  {% else %}
                  <a href="{{url_for('bruteforceStart', action='stop')}}" class="btn btn-danger text-white me-0"><i class="menu-icon mdi mdi-stop"></i> Stop Attack</a>
                  {% endif %} 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 grid-margin stretch-card pt-3">
      </div>
      <div class="col-6 grid-margin stretch-card">
      </div>
      </div>
      <div class="row">
        <div class="col-lg-6 d-flex flex-column">
          <div class="row flex-grow">
            <div class=" grid-margin stretch-card">
              <div class="card card-rounded">
                <div class="card-body">
                    <h4 class="card-title">
                        configuration
                    </h4>
                    <form method="POST" enctype="multipart/form-data" action="{{url_for('bruteforce')}}">
                        {{ form.hidden_tag() }}
                        {{ form.usernameList.label(class="form-control-label") }}
                        <div class="form-group">
                            {% if form.usernameList.errors %}
                                {{ form.usernameList(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.usernameList.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
<textarea class="form-control mb-2 mr-sm-2" id="usernameList" name="usernameList" style="height:100px">{% for data in usernames %}
{% if data.usernames != None %}{{data.usernames}}{% endif %}{% endfor %}
</textarea>
                            {% endif %}
                        </div>

                        {{ form.hidden_tag() }}
                        {{ form.passwordList.label(class="form-control-label") }}
                        <div class="form-group">
                            {% if form.passwordList.errors %}
                                {{ form.passwordList(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.passwordList.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <textarea class="form-control mb-2 mr-sm-2" id="passwordList" name="passwordList" style="height:100px">{% for data in passwords %}
{% if data.passwords != None %}{{data.passwords}}{% endif %}{% endfor %}
</textarea>
                            {% endif %}
                        </div>
                        {{ form.usernameListFile.label(class="form-control-label") }}
                        <div class="form-group">
                            {% if form.usernameListFile.errors %}
                                {{ form.usernameListFile(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.usernameListFile.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.usernameListFile(class="file-upload-browse btn btn-primary") }}
                            {% endif %}
                        </div>

                        {{ form.passwordListFile.label(class="form-control-label") }}
                        <div class="form-group">
                            {% if form.passwordListFile.errors %}
                                {{ form.passwordListFile(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.passwordListFile.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.passwordListFile(class="file-upload-browse btn btn-primary") }}
                            {% endif %}
                        </div>
                        {{ form.submit(class="btn btn-primary me-2") }}
                        <a href="{{url_for('spraying')}}" class="btn btn-danger">Cancel</a>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 d-flex flex-column">
          <div class="row flex-grow">
            <div class="col-md-6 col-lg-12 grid-margin stretch-card">
              <div class="card  bg-dark">
                <div class="card-body" style="overflow: scroll;position: relative;">
                  <h3 class="card-title text-success">Bruteforce Logs</h3>
                  
                  <div id="display_log" class="text-warning " style="position: absolute;">

                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="d-sm-flex align-items-center justify-content-between">
                  
                  <h4>Results</h4>
                  
                <div class="btn-wrapper">
                    <a href="{{url_for('deleteResults', type='bruteforce')}}" class="btn btn-danger text-white me-0"><i class="menu-icon mdi mdi-delete"></i>Delete Results</a>
                  </div>
              </div>

                <div class="table-responsive pt-3">
                  <table class="table table-dark">
                    <thead>
                      <tr>
                        <th>
                          Username
                        </th>
                        <th>
                          Password
                        </th>
                        <th>
                          Error Code
                        </th>
                        <th>
                          Description
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for value in bruteforceResults %}
                      <tr>
                        <td>
                          {{value.victim}}
                        </td>
                        <td>
                          {{value.password}}
                        </td>
                        <td>
                          {{value.errorCode}}
                        </td>
                        <td>
                          {{value.message}}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/socket.io.min.js') }}"></script>

  <script type="text/javascript" charset="utf-8">
      var socket;
      $(document).ready(function(){
          socket = io.connect('http://' + document.domain + ':' + location.port + '/logs');
          socket.on('connect', function() {
              socket.emit('joined', {});
          });
          socket.on('message', function(data) {
              $("#display_log").html("<pre>"+data.msg+"</pre>");
          });
          socket.emit('logging', {'type': 'bruteforce'});
      });

  </script>

{% endblock %}