{% extends "azure/layout.html" %}
{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-sm-12">
          <div class="home-tab">
            <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                <div id="home-tab" aria-selected="true">
                  <b>Spray Attack On Azure Ad Users</b>
                  
                </div>
              <div>
                <div class="btn-wrapper">
                  <a href="{{url_for('sprayingDownload', type='addedemails')}}" class="btn btn-outline-dark"><i class="icon-download"></i>Added emails</a>
                  <a href="{{url_for('sprayingDownload', type='results')}}" class="btn btn-outline-dark"><i class="icon-download"></i>Results</a>
                  <a href="{{url_for('deleteLogs', name='spraying')}}" class="btn btn-danger  text-white me-0"><i class="icon-download"></i>Delete Logs</a>
                  {% if sprayStatus == "False" or sprayStatus == None %}
                  <a href="{{url_for('sprayingStart', action='start')}}" class="btn btn-primary text-white me-0"><i class="menu-icon mdi mdi-run-fast"></i> Attack</a>
                  {% else %}
                  <a href="{{url_for('sprayingStart', action='stop')}}" class="btn btn-danger text-white me-0"><i class="menu-icon mdi mdi-stop"></i> Stop Attack</a>
                  {% endif %}  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 grid-margin stretch-card pt-3">

      </div>
      <div class="col-6 grid-margin stretch-card">
      </div>

      </div>
      <div class="row">
        <div class="col-lg-6 d-flex flex-column">
          <div class="row flex-grow">
            <div class=" grid-margin stretch-card">
              <div class="card card-rounded">
                <div class="card-body">
                    <h4 class="card-title">
                        configuration
                    </h4>
                    
                    <form method="POST" enctype="multipart/form-data" action="{{url_for('spraying')}}">
                        {{ form.hidden_tag() }}
                        {{ form.password.label(class="form-control-label") }}
                        <div class="form-group">
                            {% if form.password.errors %}
                                {{ form.password(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class="form-control mb-2 mr-sm-2", value=sprayingDefault.password) }}
                            {% endif %}
                        </div>
                        {{ form.moreVictims.label(class="form-control-label") }}
                        <div class="form-group">
                            {% if form.moreVictims.errors %}
                                {{ form.moreVictims(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.moreVictims.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.moreVictims(class="file-upload-browse btn btn-primary") }}
                            {% endif %}
                        </div>
                        <div class="form-check form-check-flat form-check-primary">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input {{sprayingDefault.customVictims}} class="form-check-input" id="customVictims" name="customVictims" type="checkbox" value="checked">
                              Spray on the added victim list
                            <i class="input-helper"></i></label>
                          </div>
                        </div>
                        <div class="form-check form-check-flat form-check-primary">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input {{sprayingDefault.advanceSpray}} class="form-check-input" id="advanceSpray" name="advanceSpray" type="checkbox" value="checked">
                              Enable advance spray attack
                            <i class="input-helper"></i></label>
                           
                          </div>
                        </div>
                        
                        {{ form.submit(class="btn btn-primary me-2") }}
                        <a href="{{url_for('spraying')}}" class="btn btn-danger">Cancel</a>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 d-flex flex-column">
          <div class="row flex-grow">
            <div class="col-md-6 col-lg-12 grid-margin stretch-card">
              <div class="card  bg-dark">
                <div class="card-body" style="overflow: scroll;position: relative;">
                  <h3 class="card-title text-success">Spraying Logs</h3>
                  <div id="display_log" class="text-warning " style="position: absolute;">
                  {% for log in spraylogs %}
                    <!-- {{log.message | safe}} -->
                  {% endfor %}
                  </div>
                </div>
              </div>
          </div>
            </div>
          </div>
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="d-sm-flex align-items-center justify-content-between">
                  
                  <h4>Results</h4>
                  
                <div class="btn-wrapper">
                    <a href="{{url_for('deleteResults', type='spraying')}}" class="btn btn-danger text-white me-0"><i class="menu-icon mdi mdi-delete"></i>Delete Results</a>
                  </div>
              </div>

                <div class="table-responsive pt-3">
                  <table class="table table-dark">
                    <thead>
                      <tr>
                        <th>
                          Username
                        </th>
                        <th>
                          Password
                        </th>
                        <th>
                          Error Code
                        </th>
                        <th>
                          Description
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for value in sprayresults %}
                      <tr>
                        <td>
                          {{value.victim}}
                        </td>
                        <td>
                          {{value.password}}
                        </td>
                        <td>
                          {{value.errorCode}}
                        </td>
                        <td>
                          {{value.message}}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/socket.io.min.js') }}"></script>

  <script type="text/javascript" charset="utf-8">
      var socket;
      $(document).ready(function(){
          socket = io.connect('http://' + document.domain + ':' + location.port + '/logs');
          socket.on('connect', function() {
              socket.emit('joined', {});
          });
          socket.on('message', function(data) {
              $("#display_log").html("<pre>"+data.msg+"</pre>");
          });
          socket.emit('logging', {'type': 'spray'});
      });

  </script>

{% endblock %}

