{% extends "azure/layout.html" %}
{% block body %}

<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-sm-12">
          <div class="home-tab">
            <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                <div id="home-tab" aria-selected="true">
                  <b>Azure Resources Enumeration</b>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 grid-margin stretch-card "></div>
      <div class="row">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-primary">
            <li class="breadcrumb-item "><a href="{{ url_for('azureServicesEnumeration') }}">Users</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('azureServicesEnumUserSubscription', username=username) }}">Subscription</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('azureServicesEnumResourceGroups', username=username, subscriptionId=subscriptionId) }}">Resource Groups</a></li>
            <li class="breadcrumb-item active" aria-current="page">Resources</li>
          </ol>
        </nav>
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-sm-flex align-items-center justify-content-between">
                <h4><img src="{{ url_for('static',filename='images/azure/logo/azure-All-Resources.svg') }}" width="40px"> <b>Resources</b></h4>
                <div class="btn-wrapper">
                  <h4><u>{{username}}</u></h4>
                  </div>
            </div>
            <div class="table-responsive fixTableHead ">
              <table class="table table-hover table-bordered table-dark" >
                <thead>
                  <tr>
                    <th>
                        Resource Name
                    </th>
                    <th>
                        type
                    </th>
                    <th>
                      Resource Group Name
                    </th>
                    <th>
                        Location
                    </th>
                  </tr>
               </thead>
                <tbody id="table-users">
                  {% for data in azureUsersResources %} 
                  <tr>
                    <td>
                      
                          {% set image = data.type.split("/")[1] %}
                          <img src="{{ url_for('static',filename='images/azure/logo/resources/'+image+'.svg') }}" style="border-radius: 0%;">
                      
                      {{ data.resourceName }}
                      </u>
                  </a> 
                  </td>
                  <td>
                      {{ data.type }}
                    </td>
                    <td>
                      <label class="badge badge-outline-info">
                      {{ data.resourceGroupName }}</label>
                    </td>
                    <td>
                        {{ data.location }}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
{% endblock %}

