{% extends "layout.html" %}
{% block body %}

<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-sm-12">
          <div class="home-tab">
            <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                <div id="home-tab" aria-selected="true">
                  <b>Azure Resources Enumeration</b>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 grid-margin stretch-card "></div>
      <div class="row">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-primary">
            <li class="breadcrumb-item "><a href="{{ url_for('azureServicesEnumeration') }}">Users</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('azureServicesEnumUserSubscription', username=username) }}">Subscription</a></li>
            <li class="breadcrumb-item active" aria-current="page">Resource Groups</li>
          </ol>
        </nav>
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-sm-flex align-items-center justify-content-between">
                <h4><img src="{{ url_for('static',filename='images/logo/azure-Resource-Groups.svg') }}" width="40px"> <b>Resource Groups</b></h4>
                <div class="btn-wrapper">
                  <h4><u>{{username}}</u></h4>
                  </div>
            </div>
            <div class="table-responsive fixTableHead " style="max-height: 400px;">
              <table class="table table-hover table-bordered table-dark" >
                <thead>
                  <tr>
                    <th>
                        Resource Groups
                    </th>
                    <th>
                      Location
                  </th>
                  </tr>
               </thead>
                <tbody id="table-users">
                  {% for data in azureUsersResources %}
                  
                  <tr>
                    <td><a href="{{url_for('azureServicesEnumResources', username=data.username, subscriptionId=data.subscriptionId, resourceGroup=data.resourceGroupName)}}" class="nav-link text-info">
                        <u>
                          <img src="{{ url_for('static',filename='images/logo/azure-Resource-Groups.svg') }}" style="border-radius: 0%;">
                        {{ data.resourceGroupName }}
                        </u>
                    </a>
                    </td>
                    <td>
                      {{ data.location }}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
{% endblock %}

