{% extends "layout.html" %}
{% block body %}

<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
          {% if error != "" %}
        <div class="col-12 grid-margin stretch-card">
            <div class="card bg-danger text-white">
                <div class="card-body">
                    {{ error }}
                </div>
            </div>
        </div>
        {% endif %}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
<form method="POST" enctype="multipart/form-data" action="{{ url_for('createRules', victim=victim) }}">
    {{ form.hidden_tag() }}

    {{ form.victim.label(class="form-control-label") }}
    <div class="form-group">
        {% if form.victim.errors %}
            {{ form.victim(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.victim.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.victim(class="form-control mb-2 mr-sm-2", type="email", value=victim) }}
            
        {% endif %}
    </div>

    {{ form.rules.label(class="form-control-label") }}
    <div class="form-group">
        {% if form.rules.errors %}
            {{ form.rules(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.rules.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.rules(class="form-control mb-2 mr-sm-2", style="height:350px") }}
        {% endif %}
    </div>
    {{ form.submit(class="btn btn-primary me-2") }}
</form>    
</div>
</div>
</div>

</div>
</div>
</div>


{% endblock %}