{% extends "azure/layout.html" %} {% block body %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-9 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            Admin configuration
                        </h4>
                        <form method="POST" id="admin-config">
                            {{ form.hidden_tag() }}
                            {{ form.username.label(class="form-control-label") }}
                            <div class="form-group" >
                                {% if form.username.errors %}
                                    {{ form.username(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.username.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.username(class="form-control mb-2 mr-sm-2", value=AdminDefault.username) }}
                                {% endif %}
                            </div>
                            <label class="form-control-label" for="email">Email</label>
                            <div class="form-group" >
                                <input class="form-control mb-2 mr-sm-2 text-info" id="email" name="email" type="text" value="{{AdminDefault.email}}" disabled>
                            </div>
                            {{ form.new_password.label(class="form-control-label") }}
                            <div class="form-group">
                                {% if form.new_password.errors %}
                                    {{ form.new_password(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.new_password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.new_password(class="form-control mb-2 mr-sm-2", autocomplete="new-password") }}
                                {% endif %}
                            </div>
                            {{ form.confirm_password.label(class="form-control-label") }}
                            <div class="form-group">
                                {% if form.confirm_password.errors %}
                                    {{ form.confirm_password(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.confirm_password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.confirm_password(class="form-control mb-2 mr-sm-2") }}
                                {% endif %}
                            </div>
                            <div class="my-2 d-flex justify-content-between align-items-center">                                
                                <div class="form-check">
                                    <label class="form-check-label text-muted">
                                        {% if AdminDefault.enableIp == "1" or AdminDefault.enableIp == "true" %}
                                            {% set checked = "checked" %}
                                        {% endif %}
                                      <input {{ checked }} class="form-check-input" id="enableIp" name="enableIp" type="checkbox" value="y">
                                      Enable Ip restriction
                                    <i class="input-helper"></i></label>
                                  </div>
                              </div>
                            {{ form.ips.label(class="form-control-label") }}
                            <div class="form-group">
                                {% if form.ips.errors %}
                                    {{ form.ips(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.ips.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.ips(class="form-control mb-2 mr-sm-2", value=AdminDefault.ips) }}
                                {% endif %}
                            </div>
                            <div class="my-2 d-flex justify-content-between align-items-center">                                
                                <div class="form-check">
                                    <label class="form-check-label text-muted">
                                        {% if AdminDefault.theme == "1" or AdminDefault.theme == "true" %}
                                            {% set checked = "checked" %}
                                        {% endif %}
                                      <input {{ checked }} class="form-check-input" id="theme" name="theme" type="checkbox" value="y">
                                      Dark Theme
                                    <i class="input-helper"></i></label>
                                  </div>
                              </div>
                            
                            {{ form.submit(class="btn btn-primary me-2") }}
                            <a href="/configuration" class="btn btn-light">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}