{% extends "azure/layout.html" %}
{% block body %}
<div class="main-panel" >
    <div class="content-wrapper ">
      <div class="row">
        <div class="col-sm-12">
          <div class="home-tab">
            <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                <a class="nav-link {{othertextColor}} ps-0" id="home-tab" aria-selected="true">Total Files</a>
              <div>
                <div class="btn-wrapper">
                  <a href="https://twitter.com/intent/tweet?screen_name=trouble1_raunak%20created%20an%20Azure%20cloud%20attacking%20toolkit%20-%20Vajra&ref_src=twsrc%5Etfw" target='_blank' class="btn btn-outline-dark align-items-center"><i class="icon-share"></i> Share on twitter</a>
                  <!--<a href="#" class="btn btn-outline-dark"><i class="icon-printer"></i> Print</a>
                  <a href="#" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
                  -->
                </div>
              </div>
            </div>
            <div class="tab-content tab-content-basic">
              <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
                <div class="row">
                  <div class="col-sm-12">
                    <div class="statistics-details d-flex align-items-center justify-content-between">
                      <div>
                        <p class="statistics-title">OneDrive</p>
                        <h3 class="rate-percentage">{{ stolenData.getOnedrive() }}</h3>
                      </div>
                      <div>
                        <p class="statistics-title">Outlook</p>
                        <h3 class="rate-percentage">{{ stolenData.getOutlook() }}</h3>
                      </div>
                      <div>
                        <p class="statistics-title">Attachments</p>
                        <h3 class="rate-percentage">{{ stolenData.getAttachments() }}</h3>
                      </div>
                      <div class="d-none d-md-block">
                        <p class="statistics-title">OneNote</p>
                        <h3 class="rate-percentage">{{ stolenData.getOneNote() }}</h3>
                      </div>
                    </div>
                  </div>
                </div> 
                <div class="row">
                  <div class="col-lg-8 d-flex flex-column">
                    <div class="row flex-grow">
                      <div class="col-12 grid-margin stretch-card">
                        <div class="card card-rounded">
                          <div class="card-body">
                            <div class="d-sm-flex justify-content-between align-items-start">
                              <div>
                                <h4 class="card-title card-title-dash">Latest Victims</h4>
                                
                              </div>
                              <div id="performance-line-legend"><div class="chartjs-legend">
                                <a href="{{ url_for('victims') }}" class="fw-bold {{othertextColor}}">Show all <i class="mdi mdi-arrow-right ms-2"></i></a>
                                </div>
                              </div>
                            </div>
                            <div class="table-responsive  mt-1">
                              <table class="table select-table">
                                <thead>
                                  <tr>
                                    <th>Victim</th>
                                    <th>Job Title</th>
                                    <th>Mobile No.</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for victim in stolenData.getAllvictims() %}
                                    <tr>
                                        <td>
                                        <div class="d-flex">
                                            <img src="{{ url_for('static',filename='images/azure/logo/victim.png') }}" alt="">
                                            <div>
                                            <h6>{{ victim.displayName }}</h6>
                                            <p>{{ victim.userPrincipalName }}</p>
                                            </div>
                                        </div>
                                        </td>
                                        
                                        <td>
                                        <div>
                                            <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                            <p>{{ victim.jobTitle }}</p>
                                            </div>
                                           
                                        </div>
                                        </td>
                                        <td>
                                          <div class="badge badge-opacity-success">
                                            {{ victim.mobilePhone }}
                                          </div>
                                        </td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  <div class="col-lg-4 d-flex flex-column">
                    <div class="row flex-grow">
                      <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                        <div class="card card-rounded" style="background-color: #005fa8">
                          <div class="card-body pb-0">
                            <h4 class="card-title card-title-dash text-white mb-4">Total victims from Phishing</h4>
                            <div class="row">
                              <div class="col-sm-4">
                                <p class="status-summary-ight-white mb-1 text-info fw-bold">Victim</p>
                                <h2 class="text-white">{{ stolenData.getTotalvictims() }}</h2>
                              </div>
                              <div class="col-sm-8">
                                <div class="status-summary-chart-wrapper pb-4">
                                  <canvas id="status-summary"></canvas>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                        <div class="card card-rounded">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="d-flex justify-content-between align-items-center mb-2 mb-sm-0">
                                  <a href="{{ url_for('visitors') }}" class="fw-bold text-primary">Total Visitors</a>
                                    <h4 class="mb-2 fw-bold">{{ stolenData.getVisitors()}}</h4>
                                  </div>
                                </div>

                                  <div class="col-sm-6">
                                  <div class="d-flex justify-content-between align-items-center mb-2 mb-sm-0">
                                    <a href="{{ url_for('phishing') }}" class="fw-bold text-primary">Phishing</a>
                                    {% if status == None or status == "False" %}
                                      <img src="{{ url_for('static',filename='images/sprites/red.png') }}" alt="logo" />
                                    {% else %}
                                      <img src="{{ url_for('static',filename='images/sprites/green.png') }}" alt="logo" />
                                    {% endif %}
                                  
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8 d-flex flex-column">                          
                    <div class="row flex-grow">
                      <div class="col-md-6 col-lg-6 grid-margin stretch-card">
                        <div class="card card-rounded">
                          <div class="card-body card-rounded">
                            <h4 class="card-title  card-title-dash">OneDrive Files</h4>
                            <div class="list align-items-center border-bottom py-2">
                              {% for file in stolenData.getOneDriveFiles() %}
                              <div class="wrapper w-100">
                                <p class="mb-2 font-weight-medium">
                                  {{ file.filename }}
                                </p>
                              </div>
                              {% endfor %}
                            </div>
                            <div class="list align-items-center pt-3">
                              <div class="wrapper w-100">
                                <p class="mb-0">
                                  <a href="{{ url_for('oneDrive') }}" class="fw-bold {{othertextColor}}">Show all <i class="mdi mdi-arrow-right ms-2"></i></a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-6 grid-margin stretch-card">
                        <div class="card card-rounded">
                          <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                              <h4 class="card-title card-title-dash">Outlook Inbox</h4>
                            </div>
                            <ul class="bullet-line-list">
                              {% for subject in stolenData.getOutlookSubject() %}
                              <li>
                                <div class="d-flex justify-content-between">
                                 <span class="text-light-green">{{ subject.Subject }}</span>
                                </div>
                              </li>
                              {% endfor %}
                            </ul>
                            <div class="list align-items-center pt-3">
                              <div class="wrapper w-100">
                                <p class="mb-0">
                                  <a href="{{ url_for('outlook') }}" class="fw-bold {{othertextColor}}">Show all <i class="mdi mdi-arrow-right ms-2"></i></a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 d-flex flex-column">
                    <div class="row flex-grow">
                      <div class="col-12 grid-margin stretch-card">
                        <div class="card card-rounded">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="d-flex justify-content-between align-items-center">
                                  <h4 class="card-title card-title-dash">OneNote Files</h4>
                                </div>
                                <div class="list-wrapper">
                                  <ul class="todo-list todo-list-rounded">
                                    {% for file in stolenData.getOneNoteFiles() %}
                                    <li class="d-block">
                                      <div class="wrapper w-100">
                                        <p class="mb-2 font-weight-medium">
                                          {{file.filename}}
                                        </p>
                                      </div>
                                    </li>
                                    {% endfor %}
                                  </ul>
                                  <div class="list align-items-center pt-3">
                                    <div class="wrapper w-100">
                                      <p class="mb-0">
                                        <a href="{{ url_for('onenote') }}" class="fw-bold {{othertextColor}}">Show all <i class="mdi mdi-arrow-right ms-2"></i></a>
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4 d-flex flex-column">
                    <div class="row flex-grow">
                      <div class="col-12 grid-margin stretch-card">
                        <div class="card card-rounded">
                          <div class="card-body">
                            <div class="d-sm-flex justify-content-between align-items-start">
                                <div id="home-tab" aria-selected="true">
                                  <img src="{{ url_for('static',filename='images/azure/logo/userenum.png') }}" width="40px">
                                  <b>Userenum Results</b>
                                </div>
                              <div id="performance-line-legend"><div class="chartjs-legend">
                                <a href="{{ url_for('userenum') }}" class="fw-bold {{othertextColor}}">Visit<i class="mdi mdi-arrow-right ms-2"></i></a>
                                </div>
                              </div>
                            </div>
                            <div class="table-responsive pt-3">
                              <table class="table table-dark">
                                <thead>
                                  <tr>
                                    <th>
                                      Valid Email Address
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for value in validemails[:2] %}
                                  <tr>
                                    <td>
                                      {{value.email}}
                                    </td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                    <div class="col-lg-8 d-flex flex-column">
                      <div class="row flex-grow">
                        <div class="col-12 grid-margin stretch-card">
                          <div class="card card-rounded">
                            <div class="card-body">
                              <div class="d-sm-flex justify-content-between align-items-start">
                                <div id="home-tab" aria-selected="true">
                                  <img src="{{ url_for('static',filename='images/azure/logo/spray.png') }}" width="40px">
                                  <b>Spraying Results</b>
                                </div>
                                <div id="performance-line-legend"><div class="chartjs-legend">
                                  <a href="{{ url_for('spraying') }}" class="fw-bold {{othertextColor}}">Visit<i class="mdi mdi-arrow-right ms-2"></i></a>
                                  </div>
                                </div>
                              </div>
                              <div class="table-responsive pt-3" style="max-height: 200px;">
                                <table class="table table-dark">
                                  <thead>
                                    <tr>
                                      <th>
                                        Username
                                      </th>
                                      <th>
                                        Password
                                      </th>
                                      <th>
                                        Error Code
                                      </th>
                                      <th>
                                        Description
                                      </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for value in sprayresults %}
                                    <tr>
                                      <td>
                                        {{value.victim}}
                                      </td>
                                      <td>
                                        {{value.password}}
                                      </td>
                                      <td>
                                        {{value.errorCode}}
                                      </td>
                                      <td>
                                        {{value.message}}
                                      </td>
                                    </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      </div>
                </div>
                <div class="row">
                  
                  <div class="col-lg-12 d-flex flex-column">
                    <div class="row flex-grow">
                      <div class="col-12 grid-margin stretch-card">
                        <div class="card card-rounded">
                          <div class="card-body">
                            <div class="d-sm-flex justify-content-between align-items-start">
                                <div id="home-tab" aria-selected="true">
                                  <img src="{{ url_for('static',filename='images/azure/logo/bruteforce.png') }}" width="40px">
                                  <b>Bruteforcing Results</b>
                                </div>
                              <div id="performance-line-legend"><div class="chartjs-legend">
                                <a href="{{ url_for('bruteforce') }}" class="fw-bold {{othertextColor}}">Visit<i class="mdi mdi-arrow-right ms-2"></i></a>
                                </div>
                              </div>
                            </div>
                            <div class="table-responsive pt-3" style="max-height: 200px;">
                              <table class="table table-dark">
                                <thead>
                                  <tr>
                                    <th>
                                      Username
                                    </th>
                                    <th>
                                      Password
                                    </th>
                                    <th>
                                      Error Code
                                    </th>
                                    <th>
                                      Description
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for value in bruteforceResults %}
                                  <tr>
                                    <td>
                                      {{value.victim}}
                                    </td>
                                    <td>
                                      {{value.password}}
                                    </td>
                                    <td>
                                      {{value.errorCode}}
                                    </td>
                                    <td>
                                      {{value.message}}
                                    </td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    
    <!-- partial -->
  </div>

{% endblock %}
