{% extends "azure/layout.html" %}
{% block body %}
<style>
   .doc-img{
   float:center;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   }
</style>
<!-- partial -->
<div class="main-panel">
   <div class="content-wrapper">
      <div class="row">
         <div class="col-lg-12 grid-margin" >
            <div class="card">
               <div class="card-body" style="height: 1000px; overflow: auto;">
                  <h1 class="welcome-text text-vajra  fw-bold" align="center"><span style="color:#2e71be;">Vajra</span></h1>
                  <br>
                  <a href="https://github.com/TROUBLE-1/Vajra/"><img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/demon.png"></a>
                  <br>
                  <h2 id="about-vajra"><b>About Vajra - Your Weapon To Cloud</b></h2>
                  <p>Vajra is a UI based tool with multiple techniques for attacking and enumerating in target&#39;s Azure environment. </p>
                  <p>The term Vajra refers to the Weapon of God Indra in Indian mythology (God of Thunder &amp; Storms). Its connection to the cloud makes it a perfect name for the tool.</p>
                  <p>Vajra currently supports Azure Cloud environments and plans to support AWS cloud environments and some OSINT in the future.</p>
                  <p><strong>Following features are available at the moment:</strong></p>
                  <ul>
                     <li>
                        Attacking
                        <ol>
                           <li>
                              OAuth Based Phishing (Illicit Consent Grant Attack)
                              <ol>
                                 <li>Exfiltrate Data</li>
                                 <li>Enumerate Environment</li>
                                 <li>Deploy Backdoors</li>
                                 <li>Send mails/Create Rules</li>
                              </ol>
                           </li>
                           <li>Password Spray</li>
                           <li>Password Brute Force</li>
                        </ol>
                     </li>
                     <li>
                        Enumeration
                        <ol>
                           <li>Users </li>
                           <li>Subdomain </li>
                           <li>Azure Ad</li>
                           <li>Azure Services</li>
                        </ol>
                     </li>
                  </ul>
                  <p><em><strong>Note:</strong> This tool have been tested in a environment which had around 3 Lakh principals like users, groups, enterprise application, etc.</em></p>
                  <p><span align="center">
                     <br>
                     <img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/dashboard.png">
                     </span>
                  </p>
                  <p>It features an intuitive web-based user interface built with the Python Flask module for a better user experience.</p>
                  <h2 id="-about-author-"><strong>About Author</strong></h2>
                  <p>Raunak Parmar works as a senior security engineer. Web/Cloud security, source code review, scripting, and development are some of his interests. Also, familiar with PHP, NodeJs, Python, Ruby, and Java. He is OSWE certified and the author of Vajra and 365-Stealer.</p>
                  <h3 id="-social-media-links-"><strong>Social Media Links</strong></h3>
                  <ul>
                     <li>Twitter: <a href="https://twitter.com/trouble1_raunak">https://twitter.com/trouble1_raunak</a></li>
                     <li>YouTube: <a href="https://www.youtube.com/channel/UCkJ_sEF8iUDXPCI3UL0DAcg">https://www.youtube.com/channel/UCkJ_sEF8iUDXPCI3UL0DAcg</a></li>
                     <li>Linkedin: <a href="https://www.linkedin.com/in/trouble1raunak/">https://www.linkedin.com/in/trouble1raunak/</a></li>
                     <li>GitHub: <a href="https://github.com/TROUBLE-1/">https://github.com/TROUBLE-1/</a></li>
                  </ul>
                  <h2 id="installation"><b>Installation</b></h2>
                  <p>Install postgres database with credential postgres/postgres and create a database name vajra. If postgres is not installed then by default sqlite will be used.</p>
                  <p>Run the following command to install all the modules.</p>
                  <pre><code>pip <span class="hljs-keyword">install</span> -r requirements.txt
                  </code></pre>
                  <p>Once installed run the following to start the application.</p>
                  <pre><code><span class="hljs-keyword">python</span> app.<span class="hljs-keyword">py</span>
                  </code></pre>
                  <h2 id="-why-use-vajra-"><strong>Why use Vajra</strong></h2>
                  <p>Whenever I come across during <a href="https://www.crowdstrike.com/cybersecurity-101/cloud-security/cloud-security-assessment/#:~:text=A%20cloud%20security%20assessment%20is,of%20security%20risks%20and%20threats.&amp;text=Identify%20weaknesses%20and%20potential%20points%20of%20entry%20within%20the%20organization&#39;s%20cloud%20infrastructure">Cloud Security assessment</a> or some Cloud <a href="https://whatis.techtarget.com/definition/red-teaming">Red Team</a> projects, there is a need to run a lot of tools to enumerate stuff from nothing to something. Where some requires lots of automation like brute-forcing or finding a particular privileged service or policies from thousands of resources.</p>
                  <p>Initially, I wrote a tool <a href="https://github.com/AlteredSecurity/365-Stealer">365-Stealer</a> which had capabilities to perform Illicit Consent Grant Attack but I was not satisfied with the code structure and its web interface which made me rewrite the whole tool again and add it as a module in Vajra. The most interesting part of this module is it uses refresh tokens stolen from the victims which can be used for a minimum of 3 months and a max 1 year or no limit. Will explain how to use this module and in what circumstances it should be used.</p>
                  <p><em><strong>Note:</strong> No future release or update will be done in <a href="https://github.com/AlteredSecurity/365-Stealer">365-Stealer</a> as I have abandoned this tool.</em></p>
                  <p>Vajra will have more modules in future which will help in simulate tha attacks while performing Cloud security assessment.</p>
                  <h2 id="-modules-"><strong>Modules</strong></h2>
                  <p>Let me take you through all the modules that the current tool has and will guide you on how we can setup up and also when to use what.</p>
                  <p><span align="center">
                     <br>
                     <img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/attacks-lists.png">
                     </span>
                  </p>
                  <h2 id="-userenum-"><strong>Userenum</strong></h2>
                  <p>The First tool that anyone would like to perform is for user enumeration. During a black box, you might perform some OSINT techniques to gather email id&#39;s for the targeted company let&#39;s say company XYZ Ltd. You could try to enumerate all over google with matching regex.</p>
                  <p><code>^[\w.+\-]+@XYZ\.com$</code></p>
                  <p>Or maybe using some secret technique you got dozens of email id&#39;s. Now it is important to validate those id&#39;s before our further attacks.</p>
                  <p>Once you are ready with your list you just need to paste it in the text field or upload a file then click save and click attack as shown below.</p>
                  <p><span align="center">
                     <br>
                     <img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/userenum-in-action.png">
                     </span>
                  </p>
                  <p>Results are saved on the same page which can even be download.</p>
                  <p><span align="center">
                     <br>
                     <img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/userenum-results.png">
                     </span>
                  </p>
                  <h3 id="-what-s-happing-in-the-background-"><strong>What&#39;s happing in the background?</strong></h3>
                  <p>By making the POST request to &quot;<a href="https://login.microsoftonline.com/common/GetCredentialType">https://login.microsoftonline.com/common/GetCredentialType</a>&quot; with a JSON body containing the email id its possible to analyze the valid email id. If the  &quot;<strong>IfExistsResult</strong>&quot; key value is 0 it means the user exists.</p>
                  <p>Following is the sample code for the same.</p>
                  <pre><code>
                    import requests
                    body = '{"Username":"random.name@XYZ.com"}'
                    response = requests.post("https://login.microsoftonline.com/common/GetCredentialType", data=body).json()
                    if response["IfExistsResult"] == 0:
                        print("Valid User")
                  </code></pre>
                  <h2 id="-phishing-"><strong>Phishing</strong></h2>
                  <p>The second module will help you perform phishing attacks over the valid victims you got from the first module. The type of phishing we going to perform is called the Illicit consent Grant attack.</p>
                  <h4 id="-illicit-consent-grant-attack-"><strong>Illicit Consent Grant Attack</strong></h4>
                  <p>In an illicit consent grant attack, the attacker creates an Azure-registered application that requests access to data such as contact information, email, or documents. The attacker then tricks an end-user into granting consent to the application so that the attacker can gain access to the data that the target user has access to. After the application has been granted consent, it has user account-level access to the data without the need for an organizational account.</p>
                  <p>In simple words when the victim clicks on that beautiful blue button of &quot;Accept&quot;, Azure AD sends a token to the third party site which belongs to an attacker where the attacker will use the token to perform actions on behalf of the victims like accessing all the Files, Read Mails, Send Mails, etc.</p>
                  <h4 id="-attack-flow-"><strong>Attack Flow</strong></h4>
                  <p><span align="center">
                     <br>
                     <img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/illicit-consent-attack-flow.png">
                     </span>
                  </p>
                  <p>To further comprehend the Illicit Consent Grant attack, consider the following scenario: two hypothetical corporations, &quot;ECorp&quot; and &quot;PentestCorp&quot;. PentestCorp has won a contract from ECorp to mimic a phishing assault to gain information about the users and extract sensitive information from the users&#39; email, OneDrive, OneNote, and other accounts.PentestCorp chose to conduct an Illicit Consent Grant attack, in which they simply lure and convince their victims to click a link that brings them to the official Microsoft third-party app consent page which allowed them to steal all the data from the victim&#39;s accounts.</p>
                  <p>PentestCorp launched this attack by registering a domain called &quot;safedomainlogin.com&quot; and creating a subdomain called &quot;ecorp.safedomainlogin.com&quot; where they hosted the application that captured the authorization code and subsequently requested the access tokens.PentestCorp then created a Multi-Tenant Application in their Azure AD Tenant and titled it &quot;ECorp,&quot; as well as adding a Redirect URL that refers to &quot;ecorp.safedomainlogin.com,&quot; which hosts an application to collect the authorization code.PentestCorp also included a new client secret and a few API permissions such as Mail.Read, Notes.Read.All, Files.ReadWrite.All, User.ReadBasic.All, User.Read in the application, read. As a result, after the user authorizes permission to the program, PentestCorp can harvest sensitive information on the user&#39;s behalf.</p>
                  <p>PentestCorp then generates a link with the respected client id and redirect URL of the malicious program and distributes it to the targeted users in order to get their approval.PentestCorp obtains the authorization code for the users who consented to the third-party application called ECorp. PentestCorp then utilized an authorization code to obtain an access token and refresh token, where access tokens were used to retrieve all of the information using GraphAPI.</p>
                  <p>To lessen the overhead of manually extracting data, we may utilize the Phishing module of Vajra.</p>
                  <p>Follow the procedures outlined in the section below to configure the phishing module for executing Illicit Consent Grant Attack.</p>
                  <h4 id="-register-application-"><strong>Register Application</strong></h4>
                  <p>To register an application on Azure, follow the procedures outlined below.</p>
                  <ol>
                     <li>Login to <a href="https://portal.azure.com">https://portal.azure.com</a></li>
                     <li>Navigate to Azure Active Directory</li>
                     <li>Click on App registrations</li>
                     <li>Click New registration</li>
                     <li>Enter the Name for our application (The same name will be displayed to the victim while granting consent)</li>
                     <li>Under support account types select &quot;Accounts in any organizational directory (Any Azure AD directory - Multitenant)&quot;</li>
                     <li>Enter the Redirect URL. This URL should be pointed towards our Vajra phishing application that we will host for hosting our phishing page. eg, <a href="http://localhost:8080/azure/getcode/[--UUID--">http://localhost:8080/azure/getcode/[--UUID--</a>]</li>
                     <li>Click Register</li>
                  </ol>
                  <p><span align="center">
                     <br>
                     <img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/app-registration-1.png">
                     </span>
                  </p>
                  <p><span align="center">
                     <br>
                     <img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/app-registration-2.png">
                     </span>
                  </p>
                  <p>After registering the application we will be redirected to the app&#39;s overview tab. Take a note of the Application (client) ID</p>
                  <h4 id="-configure-application-"><strong>Configure Application</strong></h4>
                  <p>Let&#39;s start by generating a new Client Secret for our app.</p>
                  <ol>
                     <li>Select &quot;Certificates &amp; Secrets&quot; from the drop-down menu.</li>
                     <li>Select New Client Secret from the drop-down menu, then add a description and click Add.</li>
                     <li>Store the value of the secret in a secure location.</li>
                  </ol>
                  <p><span align="center">
                     <br>
                     <img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/app-registration-3.png">
                     </span>
                  </p>
                  <p>Let&#39;s now provide our application permissions.</p>
                  <ol>
                     <li>Select API rights from the drop-down menu.</li>
                     <li>Select Add a Permission from the drop-down menu.</li>
                     <li>Select Microsoft Graph from the drop-down menu.</li>
                     <li>Select Delegated Permissions from the drop-down menu.</li>
                     <li>
                        <p>Find and choose the permissions listed below, then click Add permission (This depends upon what permissions you want from the victim)</p>
                        <ol>
                           <li>Contacts.Read</li>
                           <li>Mail.Read</li>
                           <li>Mail.Send</li>
                           <li>Notes.Read.All</li>
                           <li>Mailboxsettings.ReadWrite</li>
                           <li>Files.ReadWrite.All</li>
                           <li>User.ReadBasic.All</li>
                        </ol>
                     </li>
                  </ol>
                  <p><span align="center">
                     <br>
                     <img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/app-registration-4.png">
                     </span>
                  </p>
                  <h4 id="-setup-phishing-module-"><strong>Setup Phishing Module</strong></h4>
                  <p>Provide all the details and click save. Once done you should get your phishing URL as shown below</p>
                  <p><span align="center">
                     <br>
                     <img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/phishing-in-action.png">
                     </span>
                  </p>
                  <p>Click on Start Phishing and click on Browse.</p>
                  <p><span align="center">
                     <br>
                     <img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/phishing-action-button.png">
                     </span>
                  </p>
                  <p>A new tab will be open with a sample phishing Page which can be used to phish the user by making them believe it&#39;s one of the legitimate sites of Microsoft.</p>
                  <p><span align="center">
                     <br>
                     <img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/phishing-page-1.png">
                     </span>
                  </p>
                  <p><span align="center">
                     <br>
                     <img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/phishing-page-2.png">
                     </span>
                  </p>
                  <p>Once you click anywhere like &quot;Read More&quot;, &quot;Take The Exam&quot; you will be redirected to the Microsoft official approval page shown below.</p>
                  <p><span align="center">
                     <br>
                     <img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/azure-consent-page-1.png">
                     </span>
                  </p>
                  <h4 id="-approach-"><strong>Approach</strong></h4>
                  <p>But first, let&#39;s understand when to use this and the question is will you be able to grant all the permission from any user?</p>
                  <p>This question may have come to your mind if you have ever seen or come across as shown below.</p>
                  <p><span align="center">
                     <br>
                     <img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/azure-consent-page-2.png">
                     </span>
                  </p>
                  <p>So the answer is no you can&#39;t get all those permission from your vuctms except some admin users, you could have gotten before 2020 but not after the Microsoft new updates. So let&#39;s understand what will be our approach for it.</p>
                  <p><em><strong>Note:</strong> If you have a user on the target tenant and create an app registration from it only then a normal user can provide all the permissions as the app belongs to the victim&#39;s tenant.</em></p>
                  <p>You can get those high privileges consent only from Admin users like Global, Application, and Cloud Administrator. But still, there are some permissions available that can be granted from a normal user as well, which are:</p>
                  <ol>
                     <li>Calendars.Read</li>
                     <li>Tasks.Read</li>
                     <li>User.ReadBasic.All</li>
                  </ol>
                  <p>From these, the best permission for us is the 3rd one <code>User.ReadBasic.All</code>. This will let us list all the names of the users available in the victim&#39;s tenant. You can find a list of all the users in Office365 section under victims tab.</p>
                  <p><span align="center">
                     <br>
                     <img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/victims-list.png">
                     </span>
                  </p>
                  <p>Now you have more valid emails than you had previously, let&#39;s say you have around 100 users or even maybe more than that. The more the email Id&#39;s the better chance of getting a successful password spray attack. With this let&#39;s jump to the next module.</p>
                  <h2 id="-spraying-"><strong>Spraying</strong></h2>
                  <p>Password spraying is a sort of brute force attack where an attacker will utilize a list of users and default passwords on the application to brute force logins. To prevent account lockouts that would typically occur while brute forcing a single account with several passwords, an attacker may use one password say &quot;Secure@123&quot; against many other accounts on the application.</p>
                  <p>This technique is frequent when an application or administrator creates a default password for new users.</p>
                  <p>In our Spraying Module, you can upload your custom list containing emails or just provide a password click save, and start the Attack, this will perform only on the victims we got while performing phishing attacks.</p>
                  <p><span align="center">
                     <br>
                     <img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/spraying-in-action.png">
                     </span>
                  </p>
                  <h2 id="-bruteforce-"><strong>BruteForce</strong></h2>
                  <p>This module is similar to what we do in Spraying the only difference is that instead of providing 1 password you can provide multiple passwords. By default, Microsoft allows 10 attempts so you can try up to 9 passwords. You can just provide your passwords and users list click save and start the attack.</p>
                  <p><img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/bruteforce-in-action.png" alt=""></p>
                  <h2 id="-post-exploitation-"><strong>Post Exploitation</strong></h2>
                  <p>Once you gain access to the target&#39;s tenant you can now grant all those high privileged permissions from any user you want. So this time you can create new App registration in the victim&#39;s tenant and configure it with all permission like Files.ReadWrite.All, etc. Once Phished all the data will be displayed in the Vajra as shown below.</p>
                  <p><strong>OneDrive Data</strong><br><img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/oneDrive-files-list.png" alt=""></p>
                  <p><strong>Outlook Mails</strong><br><img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/outlook-dashboard.png" alt=""></p>
                  <p><strong>Attachment Files</strong><br><img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/attachments-list.png" alt=""></p>
                  <p><strong>Onenote Files</strong><br><img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/oneNote-list.png" alt=""></p>
                  <p>You may replace any file in OneDrive, which means you can inject macros in .docx and .xlsx files by changing the filename to .doc or .xlx, respectively.</p>
                  <p>If you desire to grant an access token to your phished victims in order to conduct your custom API request, simply click Get Token and you will receive one. And also you wished to again steal its data then simply click on Steal Again and customize your stealing, for example, to steal only mails just configure it in the phishing module.</p>
                  <p><img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/phished-victims.png" alt=""></p>
                  <h2 id="azure-ad-enumeration">Azure Ad Enumeration</h2>
                  <p><img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/azure-ad-enum.png" alt=""></p>
                  <p>You have 2 different ways for extracting data from Azure ad.</p>
                  <ol>
                     <li>Provide credentials along with client Id</li>
                     <li>Provide Access Token of <code>https://graph.microsoft.com</code></li>
                  </ol>
                  <p>Option 2 is fairly easy just need to provide a token so will talk about the option 1. For using credentials will need to provide client Id of App Registration with the following Application permission.</p>
                  <ol>
                     <li>Directory.AccessAsUser.All</li>
                  </ol>
                  <p><img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/azure-enum-app.png" alt=""></p>
                  <p>Or you can just log into az cli and get a token with the below command.</p>
                  <pre><code><span class="hljs-string">az </span><span class="hljs-string">account </span><span class="hljs-built_in">get-access-token</span> <span class="hljs-built_in">--resource=https://graph.microsoft.com</span>
                  </code></pre>
                  <h2 id="azure-resources-enumeration">Azure Resources Enumeration</h2>
                  <p><img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/azure-services.png" alt=""></p>
                  <p>You have 2 different ways for extracting resources Azure.</p>
                  <ol>
                     <li>Provide credentials along with client Id</li>
                     <li>Provide Access Token of <code>https://management.azure.com</code></li>
                  </ol>
                  <p>Option 2 is fairly easy just need to provide a token so will talk about the option 1. For using credentials will need to provide client Id of App Registration with the following Application permission.</p>
                  <ol>
                     <li>user_impersonation</li>
                  </ol>
                  <p><img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/azure-enum-app.png" alt=""></p>
                  <p>Or you can just log into az cli and get a token with the below command.</p>
                  <pre><code><span class="hljs-string">az </span><span class="hljs-string">account </span><span class="hljs-built_in">get-access-token</span> <span class="hljs-built_in">--resource=https://management.azure.com</span>
                  </code></pre>
                  <h2 id="-protect-your-tenant-"><strong>Protect your tenant</strong></h2>
                  <p>First of all, you need to make sure that your users should not be able to provide any consent to any untrusted apps. For which navigate to Active directory -\&gt; Enterprise Application -\&gt; Consent and permissions and select &quot;Do not allow user consent&quot; and &quot;Do not allow group owner consent&quot;.</p>
                  <p>This will disallow any user to provide consent to any apps. Or you can even let users provide consent to only the verified Apps as well.</p>
                  <p><span align="center">
                     <br>
                     <img class="doc-img" src="https://github.com/TROUBLE-1/Vajra/raw/main/images/protect-your-tenant.png">
                     </span>
                  </p>
                  <h2 id="bugs-and-feature-requests">Bugs and Feature Requests</h2>
                  <p>Please raise an issue if you encounter a bug or have a feature request. </p>
                  <h2 id="contributing">Contributing</h2>
                  <p>If you want to contribute to a project and make it better, your help is very welcome.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}